
:root{
	--grisTopo: #262626;
	--amarillo: #F8E483;
	--rosa: #E1C1CC;
	--celeste: #C5DBED;
	--blanco: #ffffff;

}



*{
	margin:0;
	padding:0;
	box-sizing: border-box;

	scroll-behavior: smooth;

}


body {


	font-family: 'Raleway', sans-serif;



}

h1{

	text-align: center;
	color: #E1C1CC;
	text-shadow: 4px 2px 0 white, 4px 2px 3px var(--amarillo);



}



/* * * * * * * * * * * * * * * *-* *BOTONERA LISTA*-* * * * * * * * * * * * * * * * */


.botonera{

	z-index: 11;
	position: fixed;
	width: 100%;
	height: 11vh;

	
	display: flex;
	justify-content: center;
	align-items: center;

	flex-wrap: wrap;


	background-color: var(--grisTopo);
	color: var(--blanco);
	
	



}

.botonera-lista{
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	max-width: 100%;


	padding:0 45px 0 45px;

	

}

.botonera-lista_item{
	
	flex-grow: 1;
	display: flex;
	justify-content: center;
	flex-basis: 54px;

	text-decoration: none;
	color: var(--blanco);
	


}

.logo-menu{
display:inline;

max-height: 12vh;
padding: auto;
margin: auto;

}

.botonera-lista a{

	display:flex;
	color: white;



	align-items: center;
	justify-content: center;
	text-decoration: none;

}

.bot1:hover{
	background-color: var(--amarillo);
	font-weight: bold;
	height: 11vh;

}

.bot2:hover{
	background-color: var(--rosa);
	font-weight: bold;
	height: 11vh;

}

.bot3:hover{
	background-color: var(--celeste);
	font-weight: bold;
	height: 11vh;


}




.botonera-lista li:nth-child(1) {

	flex-grow: 4;
	justify-content: flex-start;
	
}

.toggle{
	display: none;
	background: none;
	border: none;
}

/* Botonera movil */






@media (max-width: 767px){
	.botonera{
		position: relative;
		width: 100%;
		max-height: 7vh;
		
		justify-content: left;
	}
	.botonera-lista{

		margin-top: 96px;
		flex-direction: column;
		position: absolute;
		width: 100%;
		display: none;
		padding: 0;

		


	}
	.botonera-lista li{
		background-color: var(--grisTopo);
		justify-content: left;
	
	
	}
	.logo-menu{

		display: none;

	}
	.toggle{
		display: inline;
		padding: 5px;

	}
}

.mostrar{
	display: flex;
}





/*cierra botonera*/

/* * * * * * * * * * * * * * * *-* *SECCION SLIDER*-* * * * * * * * * * * * * * * * */



.seccion-slider{


	display: flex;

	align-items: center;
	justify-content: center;


}

.seccion-slider img{

	margin-top: 45px;
	max-width: 100%;

}

.slider-tarjetas{
	display: block;

}

@media (max-width: 767px){

	.slider-tarjetas{
		display: none;

}}



/*cierra slider*/

/* * * * * * * * * * * * * * * *-* *SECCION TRABAJOS*-* * * * * * * * * * * * * * * * */


.seccion-trabajos{

	display: flex;
	flex-wrap: wrap;


	justify-content: center;
	flex-direction: column;

	padding-top: 35px;
	align-items: center;
	background:  
	linear-gradient(135deg, #FFFF 25%, transparent 25%) -25px 0,
	linear-gradient(225deg, #FFFF 25%, transparent 25%) -25px 0,
	linear-gradient(315deg, #FFFF 25%, transparent 25%),
	linear-gradient(45deg, #FFFF 25%, transparent 25%);	
	background-size: 55px 50px;
	background-color: #e6f9fe;
	

}


/*galeria categorias de trabajos*/

.boton-open{
display: flex;
background-color: var(--rosa);
flex-direction: column;


}


.elemento{	
display: flex;
justify-content: center;
align-items: center;
display: none;
transform: translateY(100px);
opacity: 0;
transition: opacity 1s, transform 0.5s;
}

.mostrar{
	display: inline;
	opacity: 1;
	transform: translateY(0);
}


.galeria-tarjetas-personales{


	max-width: 750%;
	align-content: center;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 35px;


	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	padding-top: 15px;
	padding-left: auto;
	padding-right: auto;

	
}

.galeria-tarjetas-personales img{
	margin: auto;

	max-width: 100%;



	will-change: filter;




	transition:  1ms;



}


.galeria-tarjetas-personales img:hover{
	transform: scale(1.1);
	box-shadow: 0 5px 5px rgba(0,0,0,0.3);
	filter: hue-rotate(0deg);

} 

/* La galeria se vuelve vertical */
@media (max-width: 1024px){


.galeria-tarjetas-personales{


	max-width: 85%;
}}



@media (max-width: 767px){


	.galeria-tarjetas-personales{

	grid-template-columns: 1fr 1fr;
	min-width: 90%;


	}
}

/* * * * * * * * * * * * * * * *-* *SECCION TRABAJOS*-* * * * * * * * * * * * * * * * */



.seccion-objetivos{

	clear: both;
	max-width: 100%;


	margin: auto;

	max-width: 75%;
	align-content: center;
	text-align: center;

}

.seccion-objetivos h1{

margin-top: 35px;
}

/* * * * * * * * * * * * * * * *-* *SECCION CONSULTAS*-* * * * * * * * * * * * * * * * */


.seccion-consultas{

max-width: 100%;
max-height: 100%;

padding-top: 35px;
align-items: center;
background:  
linear-gradient(135deg, #FFFF 25%, transparent 25%) -25px 0,
linear-gradient(225deg, #FFFF 25%, transparent 25%) -25px 0,
linear-gradient(315deg, #FFFF 25%, transparent 25%),
linear-gradient(45deg, #FFFF 25%, transparent 25%);	
background-size: 55px 50px;
background-color: #fdf3ff;

	

}

.formulario-contacto{
display: flex;
flex-wrap: wrap;

justify-content: center;
flex-direction: column;

max-width: 50%;

margin: auto;






}


.formulario-contacto input{
	padding: 5px;


}



/* * * * * * * * * * * * * * * *-* *SECCION SOBRE MI*-* * * * * * * * * * * * * * * * */


.seccion-objetivos p{

padding:40px 0;

}






/* * * * * * * * * * * * * * * *-* *SECCION CONSULTAS*-* * * * * * * * * * * * * * * * */

.seccion-consultas{

	margin: auto;
	padding: auto;
	justify-content: center;
	align-items: center;
}

form input{
	
	padding: auto;
	justify-content: center;
	align-items: center;

	min-width: 80%;

}



input:valid{
	border: 2px solid green;
}

input:invalid{
	background-image: url();
	background-repeat: no-repeat;
	background-position: right center;

	border: 2px solid red;
}





.boton-enviar{

	background-color: var(--grisTopo);
	color:var(--blanco);
	border-radius: 2px;
	border:none;

}

.formulario-contacto textarea{

	min-height: 150px;


}




@media (max-width: 1024px){
	form input{
	
	padding: auto;
	justify-content: center;
	align-items: center;

	min-width: 90%;

}



}


@media (max-width: 767px){
	form input{
	
	padding: auto;
	justify-content: center;
	align-items: center;

	min-width: 90%;

}
	
}
/* * * * * * * * * * * * * * * *-* *SECCION FOOTER*-* * * * * * * * * * * * * * * * */




.seccion-footer{

	display: flex;

	margin: auto;
	padding-top: 10px;
	padding: 10px;

	background-color: var(--grisTopo);
	color: white;
	text-align:center;

	justify-content: space-around;

}






